version: '3'
services:
  dmponline_app:
    build:
      context: ./
      # context: https://github.com/DMPRoadmap/roadmap.git
      dockerfile: ./compose/prod/app/Dockerfile 
      args:
        SERVICE_NAME: dmponline
        PUMA_PORT: 3000
    image: roadmap/dmponline_app
    container_name: dmponline_app
    volumes:
      - dmponline_app_source:/opt/src/dmponline
      # - logs:/var/log
    env_file:
      - ./.envs/.prod/dmponline/.env
    depends_on:
      - db
  
  dmponline_dev_app:
    build:
      context: ./
      dockerfile: ./compose/prod/app/Dockerfile 
      args:
        SERVICE_NAME: dmponline_dev
        PUMA_PORT: 3001
    image: roadmap/dmponline_dev_app
    container_name: dmponline_dev_app
    volumes:
      - dmponline_dev_app_source:/opt/src/dmponline_dev
      # - logs:/var/log
    env_file:
      - ./.envs/.prod/dmponline_dev/.env
    depends_on:
      - db
  
  dmpmelbourne_app:
    build:
      context: ./
      dockerfile: ./compose/prod/app/Dockerfile 
      args:
        SERVICE_NAME: dmpmelbourne
        PUMA_PORT: 3020
    image: roadmap/dmpmelbourne_app
    container_name: dmpmelbourne_app
    volumes:
      - dmpmelbourne_app_source:/opt/src/dmpmelbourne
      # - logs:/var/log
    env_file:
      - ./.envs/.prod/dmpmelbourne/.env
    depends_on:
      - db

  dmptuuli_app:
    build:
      context: ./
      dockerfile: ./compose/prod/app/Dockerfile 
      args:
        SERVICE_NAME: dmptuuli
        PUMA_PORT: 3010
    image: roadmap/dmptuuli_app
    container_name: dmptuuli_app
    volumes:
      - dmptuuli_app_source:/opt/src/dmptuuli      
      # - logs:/var/log
    env_file:
      - ./.envs/.prod/dmptuuli/.env
    depends_on:
      - db
     
  dmptuuli_test_app:
    build:
      context: ./
      dockerfile: ./compose/prod/app/Dockerfile 
      args:
        SERVICE_NAME: dmptuuli-test
        PUMA_PORT: 3011
    image: roadmap/dmptuuli_test_app
    container_name: dmptuuli_test_app
    volumes:
      - dmptuuli_test_app_source:/opt/src/dmptuuli-test
      # - logs:/var/log
    env_file:
      - ./.envs/.prod/dmptuuli_test/.env
    depends_on:
      - db

  db:
    image: postgres:9.5.5
    volumes:
      - db_volume:/var/lib/postgresql/data
    env_file:
      - ./.env
      
  web:
    build:      
      context: .      
      dockerfile: ./compose/prod/apache/Dockerfile
    image: roadmap/prod-web-apache
    container_name: dmp_web
    volumes:
      - dmponline_app_source:/opt/src/dmponline
      - dmpmelbourne_app_source:/opt/src/dmpmelbourne
      - dmptuuli_app_source:/opt/src/dmptuuli
      - dmptuuli_test_app_source:/opt/src/dmptuuli-test
      - dmponline_dev_app_source:/opt/src/dmponline_dev
      # - logs:/var/log

    # depends_on:
      # - dmponline_app
      # - dmpmelbourne_app
      # - dmptuuli_app
      # - dmptuuli_test_app
      # - dmponline_dev_app
    ports:
      - 80:80
      - 2001:2001
      - 2010:2010
      - 2011:2011
      - 2020:2020
    healthcheck:
      test: 'curl localhost || exit 1'
    restart: unless-stopped
 

volumes:
  db_volume:
  dmponline_app_source:
  dmpmelbourne_app_source:
  dmptuuli_app_source:
  dmptuuli_test_app_source:
  dmponline_dev_app_source:
  logs:
  


  


