version: '3'
services:
  server:
    build:
      context: ./
    volumes:
      - ./roadmap:/usr/src/app:cached
      - ./config/branding.yml:/usr/src/app/config/branding.yml:cached
      - ./config/database.yml:/usr/src/app/config/database.yml:cached
      - ./config/secrets.yml:/usr/src/app/config/secrets.yml:cached
      - ./config/initializers/contact_us.rb:/usr/src/app/config/initializers/contact_us.rb:cached
      - ./config/initializers/devise.rb:/usr/src/app/config/initializers/devise.rb:cached
      - ./config/initializers/recaptcha.rb:/usr/src/app/config/initializers/recaptcha.rb:cached
      - ./config/initializers/wicked_pdf.rb:/usr/src/app/config/initializers/wicked_pdf.rb:cached
      - ./db_backups/:/tmp/dat/:cached
      - ~/work/forks/rails:/usr/gems/rails:cached
      - ./scripts:/usr/src/app/scripts:cached
      - bundle:/bundle
    command: /usr/src/app/scripts/start_puma_server.sh
    ports:
      - "3000:3000"
    env_file:
      - ./.env
    depends_on:
      - db

  db:
    image: postgres:9.5.5
    volumes:
      - db_volume:/var/lib/postgresql/data
    env_file:
      - ./.env
volumes:
  db_volume:
  bundle:
