version: '3'
services:
  server:
    build:
      context: ./
    volumes:
      - ./roadmap:/usr/src/app:consistent
      - ./config/package.json:/usr/src/app/package.json
        #- ./config/branding.yml:/usr/src/app/config/branding.yml:cached
      - ./config/database.yml:/usr/src/app/config/database.yml:cached
        #- ./config/secrets.yml:/usr/src/app/config/secrets.yml:cached
      - ./config/application.rb:/usr/src/app/config/application.rb:cached
      - ./config/initializers/_dmproadmap.rb:/usr/src/app/config/initializers/_dmproadmap.rb
      - ./config/initializers/devise.rb:/usr/src/app/config/initializers/devise.rb:cached
      - ./config/initializers/rollbar.rb:/usr/src/app/config/initializers/rollbar.rb:cached
      - ./config/initializers/dragonfly.rb:/usr/src/app/config/initializers/dragonfly.rb
      - ./config/initializers/external_apis/open_aire.rb:/usr/src/app/config/initializers/external_apis/open_aire.rb:cached
      - ./config/initializers/external_apis/ror.rb:/usr/src/app/config/initializers/external_apis/ror.rb:cached
      - ./config/environments/production.rb:/usr/src/app/config/environments/production.rb:cached
        #- ./config/boot.rb:/usr/src/app/config/boot.rb:cached
        # - ./config/initializers/session_store.rb:/usr/src/app/config/initializers/session_store.rb:cached
      - ./customisation/app/views/branded:/usr/src/app/app/views/branded:cached
      - ./customisation/app/assets/images/powered_by_DMP.png:/usr/src/app/app/assets/images/powered_by_DMP.png:cached
      - ./customisation/app/assets/images/delivered_by_dcc_logo.png:/usr/src/app/app/assets/images/delivered_by_dcc_logo.png:cached
      - ./customisation/app/assets/images/mumc_welcome_logo.png:/usr/src/app/app/assets/images/mumc_welcome_logo.png:cached
      - ./customisation/app/assets/images/memic_welcome_logo.png:/usr/src/app/app/assets/images/memic_welcome_logo.png:cached
      - ./customisation/app/assets/images/favicon.ico:/usr/src/app/app/assets/images/favicon.ico:cached
      - ./customisation/app/assets/images/ctcm_welcome_logo.png:/usr/src/app/app/assets/images/ctcm_welcome_logo.png:cached
      - ./customisation/app/assets/images/logo_mumc.png:/usr/src/app/app/assets/images/logo_mumc.png:cached
        #- ./customisation/app/assets/stylesheets/:/usr/src/app/app/assets/stylesheets/:cached
      - ./customisation/app/assets/stylesheets/variables/_colours.scss:/usr/src/app/app/assets/stylesheets/variables/_colours.scss:cached
      - ./customisation/app/assets/stylesheets/blocks/_footers.scss:/usr/src/app/app/assets/stylesheets/blocks/_footers.scss:cached
      - ./customisation/app/assets/images/mu_logo.png:/usr/src/app/app/assets/images/mu_logo.png
      - ./db_backups/:/tmp/backups/:cached
      - ./scripts:/usr/src/app/scripts:cached
      - ./logs:/usr/src/app/log
        #- /var/data/logs/puma/maastricht/:/usr/src/app/log/
      - bundle:/bundle

    command: /usr/src/app/scripts/start_puma_server.sh
    ports:
      - "3005:3000"
    env_file:
      - ./.env
    depends_on:
      - db

  db:
    image: postgres:9.6
    volumes:
      - db_volume:/var/lib/postgresql/data
    env_file:
      - ./.env
volumes:
  db_volume:
  bundle:
