version: '3'
services:
  server:
    build:
      context: ./
    volumes:
      - ./roadmap:/usr/src/app:consistent
      - ./roadmap-extension:/usr/gems/roadmap-extension:consistent
      - ./config/package.json:/usr/src/app/package.json
      - ./config/database.yml:/usr/src/app/config/database.yml:cached
      - ./config/initializers/_dmproadmap.rb:/usr/src/app/config/initializers/_dmproadmap.rb:cached
      - ./config/initializers/devise.rb:/usr/src/app/config/initializers/devise.rb:cached
      - ./config/initializers/external_apis/open_aire.rb:/usr/src/app/config/initializers/external_apis/open_aire.rb:cached
      - ./config/initializers/external_apis/ror.rb:/usr/src/app/config/initializers/external_apis/ror.rb:cached
        #- ./config/boot.rb:/usr/src/app/config/boot.rb:cached
      - ./config/application.rb:/usr/src/app/config/application.rb:cached
      - ./config/public/accessibility_statement.pdf:/usr/src/app/public/accessibility_statement.pdf:cached
      - ./config/initializers/session_store.rb:/usr/src/app/config/initializers/session_store.rb:cached
      - ./patches/app/helpers/manifests_helper.rb:/usr/src/app/app/helpers/manifests_helper.rb:cached
      - ./patches/app/views/layouts/_navigation.html.erb:/usr/src/app/app/views/layouts/_navigation.html.erb
      - ./patches/app/views/layouts/_footer.html.erb:/usr/src/app/app/views/layouts/_footer.html.erb
      - ./config/initializers/recaptcha.rb:/usr/src/app/config/initializers/recaptcha.rb
      - ./style_patches/app/assets/stylesheets/blocks/_buttons.scss:/usr/src/app/app/assets/stylesheets/blocks/_buttons.scss:cached
      - ./style_patches/app/assets/stylesheets/blocks/_clearable_field.scss:/usr/src/app/app/assets/stylesheets/blocks/_clearable_field.scss:cached
      - ./style_patches/app/assets/stylesheets/blocks/_html.scss:/usr/src/app/app/assets/stylesheets/blocks/_html.scss:cached
      - ./style_patches/app/assets/stylesheets/variables/_bootstrap.scss:/usr/src/app/app/assets/stylesheets/variables/_bootstrap.scss:cached
      - ./style_patches/app/assets/stylesheets/variables/_site_overrides.scss:/usr/src/app/app/assets/stylesheets/variables/_site_overrides.scss:cached
      - ./style_patches/app/assets/stylesheets/variables/_colours.scss:/usr/src/app/app/assets/stylesheets/variables/_colours.scss:cached
      - ./db_backups/:/tmp/backups/:cached
      - ./scripts:/usr/src/app/scripts:cached
      - ./log/:/usr/src/app/log/
      - bundle:/bundle

    command: /usr/src/app/scripts/start_puma_server.sh
    ports:
      - "3000:3000"
    env_file:
      - ./.env
    environment:
      - DEV_MAIL_HOST=mailcatcher
    depends_on:
      - db

  mailcatcher:
   image: zolweb/docker-mailcatcher:latest
   ports:
    - "1025:1025"
    - "1080:1080"

  db:
    image: postgres:9.5.5
    volumes:
      - db_volume:/var/lib/postgresql/data
    env_file:
      - ./.env
volumes:
  db_volume:
  bundle:
