version: '3'
services:

  dmp_app:
    build:
      context: ./
      dockerfile: ./compose/prod/app/Dockerfile 
      args:
        PUMA_PORT: ${PUMA_PORT:-3000}
        ROADMAP_EXTENSION_VERSION: ${ROADMAP_EXTENSION_VERSION:-0.7.16} # NOTE this breaks when version number is incremented in extension repo.  Maybe needs .gemspec?
        GITHUB_TOKEN: ${GITHUB_TOKEN:?GITHUB_TOKEN environment var needs to be specified} 
        RAILS_ENV: ${RAILS_ENV:-production}
    image: dmp_app
    container_name: dmp_app
    # volumes:
    #   - dmponline_app_source:/opt/src/dmponline
      # - logs:/var/log
    env_file:
      - ./.envs/.prod/dmponline/.env
    depends_on:
      - db
  
  dmp_web:
    build:      
      context: ./      
      dockerfile: ./compose/prod/apache/Dockerfile
      args:
        APP_SERVICE_NAME: dmp_app:${VERSION:-latest}
        PUMA_PORT: ${PUMA_PORT:-3000}
        SERVICE_PORT: ${SERVICE_PORT:-80}
    image: dmp_web
    container_name: dmp_web
    # volumes:
    #   - dmponline_app_source:/opt/src/dmponline
      # - logs:/var/log
    depends_on:
      - dmp_app
    ports:
      - 80:80
    healthcheck:
      test: 'curl localhost || exit 1'
    restart: unless-stopped
 

  db:
    image: postgres:9.5.5
    volumes:
      - db_volume:/var/lib/postgresql/data
    env_file:
      - ./.env
      
volumes:
  db_volume:
  # dmponline_app_source:
  # logs:
  


  


