#footer-navbar {
  margin-bottom: 0px;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius:0px;
  ul {
    padding-right: $grid-gutter-width / 2;
  }
  background-color: $color-primary;
  li {
    a {
      color: $color-primary-text;
    }
  }
}

#footer-navbar img {
    height: 50px;
}
