<h2><%= _('Terms of use')%></h2>
<%= raw _("<span class='white_background'><p>%{application_name} ('the tool', 'the system') is a tool developed by the DCC & UC3 as a shared resource for the research community. It is hosted by <a href='https://datahub.mumc.maastrichtuniversity.nl/datahub'>%{legal_entity}</a>.</p> </span> 
<h3>Your personal details</h3> <span class='white_background'> 
<p>In order to help identify and administer your account with %{application_name}, we need to store your email address. We may also use it to contact you to obtain feedback on your use of the tool, or to inform you of the latest developments or releases. We will not sell, rent or trade any personal information you provide to us.</p> </span> 
<h3>Privacy policy</h3> <span class='white_background'> 
<p>The information you enter into this system can be seen by you, people you have chosen to share access with, and - solely for the purposes of maintaining the service - system administrators at %{legal_entity}.  We compile anonymised, automated and aggregated information from plans, but we will not directly access, make use of, or share your content with anyone else without your permission. Authorised officers of your home institution may access your plans for specific purposes - for example, to track compliance with funder/institutional requirements or to calculate storage requirements.</p> </span> 
<h3>Passwords</h3> <span class='white_background'> 
<p>Your password is stored in encrypted form and cannot be retrieved. If forgotten it has to be reset.</p> </span> 
<h3>Cookies</h3> <span class='white_background'> 
<p>Please note that %{application_name} uses Cookies. Further information about Cookies and how we use them is available on the <a target='_blank' href='http://www.dcc.ac.uk/about-us/about-site/website-terms-use/cookies'>main DCC website</a>.</p> </span> <br /> <span class='white_background'> 
<h3>Freedom of Information</h3> <span class='white_background'> 
<p>%{legal_entity} holds your plans on your behalf, but they are your property and responsibility. Any FOI applicants will be referred back to your home institution.</p> </span> 
<p>Use of the tool indicates that you understand and agree to these terms and conditions.</p></span>") % {
					:legal_entity => Rails.configuration.branding[:legal_entity],
					:organisation_name => Rails.configuration.branding[:organisation][:name],
					:organisation_abbreviation => Rails.configuration.branding[:organisation][:abbreviation],
					:organisation_url => Rails.configuration.branding[:organisation][:url],
					:application_name => Rails.configuration.branding[:application][:name] } %>
